@import './variables.scss';
 
/*
 * Base styles
 * ========================================================================== */

.filter-container {
  padding: 10px;
}

.filter-header {
  border-bottom: 1px solid black;
}

.checkbox input[type=checkbox] {
  margin: 0 10px 0 0;
  position: relative;
}

.checkbox label {
  padding-left: 0;
}

span.numHits {
  float: right;
  color: $bootstrap-blue;
}

ul.type-filter-list {
  padding: 0;
  list-style: none;
}

li.type-list-item {
  margin: 3px 0;
  font-size: 12px;
}

div.checkbox:hover,
li.type-list-item:hover {
  color: $red;
  cursor: pointer;
}
