@import './variables.scss';
 
/*
 * Base styles
 * ========================================================================== */

.filter-container {
  padding: 10px 10px 0 10px;
}

.filter-header {
  border-bottom: 1px solid black;
}

.filter-subheader {
  margin-top: 5px;
  float: right;
  font-size: 12px;
}

.checkbox-row {
  margin-bottom: 0;

  input[type=checkbox] {
    margin: 0 10px 0 0;
    position: relative;
  }

  label {
    font-weight: 400;
  }
}

span.numHits {
  text-align: right;
  color: $bootstrap-blue;
}

ul.type-filter-list {
  padding: 0;
  list-style: none;
}

li.type-list-item {
  margin: 3px 0;
  font-size: 12px;
}

div.checkbox-row label:hover,
li.type-list-item:hover {
  color: $red;
  cursor: pointer;
}

li.strikeout:hover {
  text-decoration: line-through;
}

.price-slider {
  width: 90% !important;
  margin: 20px auto;
}
