@import './variables.scss';
 
/*
 * Base styles
 * ========================================================================== */

ul.pagination {
  text-align: center;
}

.page-button a {
  width: 35px;  
  max-width: 35px;
  text-align: center;
  padding: 6px 6px !important;
}