@import '../../../node_modules/normalize.css/normalize.css';
@import './variables.scss';

/*
 * Base styles
 * ========================================================================== */


#primary-search {
  width: 100%;
}

.algolia-autocomplete {
  width: 100%;

  .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
    min-height: 30px;
    text-indent: 10px;
  }

  .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;

    .aa-suggestion {
      font-size: 12px;
      cursor: pointer;
      padding: 10px;
      border-bottom: 1px solid $grey-light;

      em {
        font-weight: bold;
        font-style: normal;
      }
    }

    .aa-suggestion.aa-cursor {
      background: $red-light;
    }
  }
}