/*
 * Base styles
 * ========================================================================== */

.sortby-container {
  margin: 35px 0 0 0;

  label {
    display: inline-block;
    width: 30%;
    margin: 10px 0;
  }

  select {
    display: inline-block;
    width: 65%;
    margin-top: -2px;
  }
}
.sortby-dropdown {
  border: none;
  -webkit-box-shadow: none;
}

.sortby-dropdown:focus {
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

